
/* ------------------ header ------------------ */
#header-nav-list {
    margin-left: 45px;
    margin-right: auto; /* since the width is 100%, it pushes the button to the right */
}
#header-nav-list > * {
    padding: 0px 10px 0px 10px;
}
#header-discord {
    margin-left: 50px;
    background-color: #f0f0f1;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    color: #888888;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    column-gap: 7px;
    border: 1px solid #e4e4e4;
}

/* ------------------ section 1 "what" ------------------ */
#what {
    background-color: #3597ff;
}
#what-text {
    color: white;
    width: 400px;
    margin-right: 150px;
}
#what-image {
    height: 500px;
    z-index: 1; /* so that the o-letter is "behind" it */
}

/* ------------------ section 2 "why" ------------------ */
#why {
    margin-top: 100px;
    margin-bottom: 100px;
}
#why-p {
    padding: 60px 0px 60px 0px;
    width: 1000px;
    text-align: center;
}
#why-list > li {
    width: 300px;
    margin-right: 30px
}

#vision {
    height: 450px;
}
#vision-text {
    width: 550px;
    margin-right: auto;
}
#vision-grid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
    row-gap: 15px;
    width: 480px;
    height: 360px;

    padding-right: 14px; 
    
}
#vision-grid li {
    text-align: end;
    align-self: stretch;
    padding: 45px 30px 0px 0px;
    border-radius: 5px;
}
#vision-grid li:nth-child(1) {
    background-color: aliceblue;
}
#vision-grid li:nth-child(2) {
    background-color:#d7f8eb;
}
#vision-grid li:nth-child(3) {
    background-color:#f8f3d7;
}
#vision-grid li:nth-child(4) {
    background-color:#f8d7d7;
}
#vision-grid li:nth-child(1) * {
    color: #5b94d7;
}
#vision-grid li:nth-child(2) * {
    color:#5cc19a;
}
#vision-grid li:nth-child(3) * {
    color:#dbca68;
}
#vision-grid li:nth-child(4) * {
    color:#b95e73;
}
#vision-grid li em {
    display: block;
    font-size: 80px;
}
#vision-grid-text {
    font-size: 20px;
    font-weight: bold;
}
#vision-grid-number {
    padding: 35px 0px;
}

#labs {
    margin: 150px auto;
}
#labs-list {
    flex-grow: 2;
    flex-basis: 0;
}

#schools {
    margin-bottom: 150px;
}
#schools-list {
    justify-content: space-evenly;
    height: 400px;
}
#schools-school {
    margin: 60px;
    z-index: 1; /* so that the letter P doesn't obscure the content */
}
#schools-image {
    width: 100%;
}
#schools-letter {
    width: 450px;
}

#students {
    background-color: aliceblue;
    padding-top: 35px;
}
#students-image {
    height: 550px;
    margin-left: 150px;
}
#students-quote {
    position: relative;
    margin: 40px 15px;
}
#students-quote-text {
    padding-right: 30px;
}
#students-quote-img {
    position: absolute;
    width: 70px;
    top: -45px;
    opacity: 15%;
}

#join {
    padding: 100px 0px;
}
#join-carousel {
    margin-top: 70px;
}
#join-heading {
    text-align: center;
    padding-bottom: 50px;
}
#join-text {
    background-color: #a54fa2;
    width: 500px;
    height: 450px;
    border-radius: 5px;
    padding: 40px 30px;
}
#join-text-line {
    width: 50px;
    border-bottom: 0.8px solid gainsboro;
    margin-top: 10px;
    margin-bottom: 20px;
}
#join-carousel-item {
    position: relative;
}
#join-carousel-image {
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: -1;
    border-radius: 20px;   

    object-fit: cover;
    height: 500px;
    width: 950px;
}

#projects {
    padding: 100px 0px;
}
#projects-subheading {
    margin-top: 50px;
    margin-bottom: 100px;
}
#projects-line {    
    width: 50px;
    border-bottom: 0.8px solid rgb(207, 207, 207);
    margin: 25px 0px;
}
#projects-text {
    padding-right: 200px;
}
#projects-image {  
    height: 350px;
    border-radius: 15px;
    margin-bottom: 40px;
}

#special-list {
    margin: 0px 170px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 100px 0px 50px 0px;
    
}
#special-list li {
    height: 228px;
    display: flex;
    flex-direction: column;
    row-gap: 12px; /* the gap between the icon, the heading and the text */
    align-items: flex-start;
}
#special-letter {
    z-index: -1;
    width: 450px;
}

#us {
    padding: 100px 0px;
}
#us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
    padding: 100px 0px;
}
#us-grid li img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0px;
}
#us-grid-name {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
}

#support-image {
    width: 50%;
}
#support-text {
    padding-left: 20px;
}
#support-text-p {
    padding: 30px 0px 40px 0px;
}

#partners {
    padding: 150px 0px;
}
#partners-text {
    min-width: fit-content;
    align-self: center;
}
#partners-list-upper {
    margin-left: 170px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    column-gap: 130px;
    justify-content: space-around;
}
#partners-list-lower {
    margin-left: 170px;
    column-gap: 50px;
    justify-content: center;
}

#instagram-list {
    margin-bottom: 100px;
}
#instagram-item {
    min-width: 0px;
    position: relative;
}
#instagram-item-image {
    width: 100%;

    /* idk why, but if you comment this, the item isnt perfectly square, it has a couple pixels on the bottom outside of the image */
    height: 100%;
}
#instagram-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0%;
}
#instagram-overlay:hover {
    opacity: 100%;
}
#instagram-overlay-icon {
    width: 30px; 
    bottom: 5px; 
    right:5px; 
    position: inherit;
    z-index: 10;
}
#instagram-overlay-text {
    position: inherit;
    width: 100%;
    text-align: center;
    bottom: 10px;
    z-index: 10;
}
#instagram-overlay-bg {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

#podcast-image {
    width: 98%;
    padding-left: 2%;
}
#podcast-list {
    column-gap: 20px;
}
#podcast-paragraph {
    width: 85%;
}
#podcast-button {
    padding: 20px 45px;
    font-weight: 600;
}

#support2023 {
    margin-top: 150px;
}
#support2023-list {
    flex-wrap: wrap;
    column-gap: 45px;
    margin: 100px 0px;
    align-items: center;
    justify-content: center;
}

#newsletter-div {
    background-color: #d7eaff;
    border-radius: 5px;
    padding: 50px 50px 50px 100px;
    margin-bottom: 150px;
    justify-content: space-between;
}
#newsletter-input {
    width: 550px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
#newsletter-send {
    position: absolute;
    right: 20px;
    top: 12px;
}